<div class="container">
  <h2>Add a new dose for <%= @cocktail.name %></h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient, collection: @ingredients %>
      <%= "How much?" %>
      <%= f.text_field :description %>
      <%= f.submit 'Add a dose', class:'btn btn-success' %>
  <% end %>
  <br>
  <%= link_to 'See your updated cocktail!', cocktail_path(@cocktail), class:'btn btn-primary' %>
</div>